<section>
  <div class="section-container">
    <h1>Oops! Error 404 page not found...</h1>
    <p>This page is not available.</p>
    <a class="button" routerLink="/home">Back to home page</a>
    <img
      src="assets/images/404.jpg"
      alt="404 not found"
    />
    <a target="_blank" class="external-link"
      href="https://www.freepik.com/free-vector/error-404-concept-landing-page_4660870.htm#query=404%20not%20found&position=15&from_view=search&track=ais">
      * Image by pikisuperstar on Freepik
    </a>
  </div>
</section>
