@import '../../../assets/stylings/variables';
@import '../../../assets/stylings/mixins';

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $headerHeight;
  z-index: 100;

  background-color: $secondaryColor;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  @include headerFooterFont;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  height: 100%;

  @include setMaxWidthAndCenterContent;
}

.logo {
  display: flex;
  align-items: center;

  img {
    border: solid yellow;
    width: 180px;
    height: 50px;

    object-fit: cover;
  }
}

.routes-container {
  display: flex;
  align-items: center;

  a {
    line-height: 50px;
    color: #fff;

    & + a {
      margin-left: 20px;
    }
  }

  @media(max-width: 599px) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    a {
      line-height: unset;
      
      & + a {
        margin-top: 10px;
        margin-left: 0;
      }
    }
  }
}