<section class="main-section">
  <header>
    <h1>{{mainTitle}}</h1>
  </header>
  <p>{{mainDescription}}</p>

  <div class="contact-person-container">
    <img alt="Endie Leng">
    <div class="contact-container">
      <span>Endie Leng</span>
      <span>Tel: <a href="tel:+601129190338">+60 11-2919 0338</a></span>
      <span>Email: <a href="mailto:endie.leng@fon2fix.com.my">endie.leng@fon2fix.com.my</a></span>
      <span>Facebook: <a href="https://www.facebook.com/FON2FIX" target="_blank">https://www.facebook.com/FON2FIX</a></span>
    </div>
  </div>

  <div class="location-container" id="location">
    <div class="address-container">
      <div class="visit-fon2fix">Visit FON2FIX at: </div>
      <div class="address">
        <div>39, Jalan SG 1/6,</div>
        <div>Taman Sri Gombak,</div>
        <div>68100 Batu Caves,</div>
        <div>Selangor, Malaysia</div>
      </div>
    </div>
    <a target="_blank" rel="nofollow, noindex" href="https://www.google.com/maps/place/FON2FIX+-+Smartphone+Repair+Specialist/@3.2339457,101.6837816,14z/data=!4m13!1m7!3m6!1s0x31cc477afee38d29:0x20f2ac908c4c9d05!2s39,+Jalan+SG+1%2F6,+Taman+Sri+Gombak,+68100+Batu+Caves,+Selangor,+Malaysia!3b1!8m2!3d3.23781!4d101.698051!3m4!1s0x31cc477b47bef433:0x5f0a5c6777c78b9e!8m2!3d3.2376599!4d101.6980514">
      <img src="assets/images/fon2fix-location.png" alt="Fon2Fix location">
    </a>
  </div>

  <div class="arrow-left-container">
    <a routerLink="/home">
      <svg>
        <use href="#arrow-left"></use>
      </svg>
      back to home page
    </a>
  </div>
</section>
