@font-face {
  font-family: 'Arimo';
  font-weight: 400;
  src: url(fonts/Arimo-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Arimo';
  font-weight: 500;
  src: url(fonts/Arimo-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'Arimo';
  font-weight: 700;
  src: url(fonts/Arimo-Bold.ttf) format("truetype");
}