@import './variables';

@mixin setMaxWidthAndCenterContent($verticalMargin: 0, $verticalPadding: 0) {
  margin: $verticalMargin auto;
  max-width: $maxContentWidth;
  padding: $verticalPadding 30px;


  @media(max-width: 599px) {
    padding: $verticalPadding 10px;
  }
}

@mixin headerFooterFont {
  font-size: 18px;

  @media(max-width: 599px) {
    font-size: 16px;
  }
}

@mixin contentFont {
  font-size: 22px;

  @media(max-width: 599px) {
    font-size: 18px;
  }
}

@mixin button {
  padding: 10px 25px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: $secondaryColor;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  &:hover {
    background-color: $primaryColor;
  }
}

@mixin lightBlueSection {
  background-color: $sectionLightBlueBg;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}