$primaryColor: #29235c;
$secondaryColor: #1d70b7;
$tertiaryColor: #6f6f6e;
$lightSecondaryColor: #b1cedd;
$lightTertiaryColor: #eaeaea;

$maxContentWidth: 1200px;
$headerHeight: 80px;

@font-face {
  font-family: 'Arimo';
  font-weight: 400;
  src: url(fonts/Arimo-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Arimo';
  font-weight: 500;
  src: url(fonts/Arimo-Medium.ttf) format("truetype");
}

@font-face {
  font-family: 'Arimo';
  font-weight: 700;
  src: url(fonts/Arimo-Bold.ttf) format("truetype");
}