$primaryColor: #29235c;
$secondaryColor: #1d70b7;
$tertiaryColor: #6f6f6e;
$lightSecondaryColor: #b1cedd;
$lightTertiaryColor: #eaeaea;
$sectionLightBlueBg: #edf4f7;

$maxContentWidth: 1200px;
$headerHeight: 80px;
