<section class="main-section">
  <img alt="Fon2fix Service Center" />
  <div class="text-container">
    <header>
      <h1>FON2FIX - Smartphone Repairing Services, Solutions and Accessories</h1>
    </header>
    <p>
      We are smartphone specialists in smartphone accessories as well as
      repairing services such as touch screen replacement, LCD replacement,
      battery replacement, motherboard soldering, charging port soldering, water
      damage service, software running & etc.
    </p>
  </div>
</section>

<section class="section-1">
  <h2>Smartphone Accessories</h2>

  <div class="carousel-container">
    Carousel container here
  </div>

  <a class="button" routerLink="/accessories">more accessories</a>
</section>

<section class="section-2">
  <h2>Our Services</h2>

  <img alt="Fon2fix services" loading="lazy">

  <div class="points-container">
    <ul>
      <li>Touch screen replacement</li>
      <li>LCD replacement</li>
      <li>Battery replacement</li>
      <li>Motherboard soldering</li>
    </ul>
    <ul>
      <li>Charging port soldering</li>
      <li>Water damage service</li>
      <li>Software running</li>
      <li>etc.</li>
    </ul>
  </div>

  <a class="button" routerLink="/services">services</a>
</section>

<section class="section-3">
  <div class="section-3-container">
    <h2>We repair:</h2>

    <div class="brands-container">
      <img alt="Apple" loading="lazy">
      <img alt="Samsung" loading="lazy">
      <img alt="Huawei" loading="lazy">
      <img alt="Oppo" loading="lazy">
      <img alt="Vivo" loading="lazy">
      <img alt="XiaoMi" loading="lazy">
      <img alt="Lenovo" loading="lazy">
      <img alt="Asus" loading="lazy">
    </div>
  </div>
</section>
