<section class="main-section">
  <img alt="Fon2fix Service Center" src="{{mainImage}}"/>
  <div class="text-container">
    <header>
      <h1>{{mainTitle}}</h1>
    </header>
    <p>
      We are smartphone specialists in smartphone accessories as well as
      repair services such as touch screen replacement, LCD replacement,
      battery replacement, motherboard soldering, charging port soldering, water
      damage service, software running & etc at Taman Sri Gombak, Batu Caves.
    </p>
  </div>
</section>

<section class="section-1">
  <h2>Smartphone Accessories</h2>

  <app-carousel *ngIf="carouselElems.length > 0" class="carousel-container" [elements]="carouselElems"></app-carousel>

  <a class="button" routerLink="/contact">Find out more</a>
</section>

<section class="section-2">
  <h2>Our Services</h2>

  <img alt="Fon2fix services" loading="lazy">

  <div class="points-container">
    <ul>
      <li>Touch screen replacement</li>
      <li>LCD replacement</li>
      <li>Battery replacement</li>
      <li>Motherboard soldering</li>
    </ul>
    <ul>
      <li>Charging port soldering</li>
      <li>Water damage service</li>
      <li>Software running</li>
      <li>etc.</li>
    </ul>
  </div>

  <a class="button" routerLink="/contact">Contact us</a>
</section>

<section class="section-3">
  <div class="section-3-container">
    <h2>We repair:</h2>

    <div class="brands-container">
      <img alt="Apple" loading="lazy">
      <img alt="Samsung" loading="lazy">
      <img alt="Huawei" loading="lazy">
      <img alt="Oppo" loading="lazy">
      <img alt="Vivo" loading="lazy">
      <img alt="XiaoMi" loading="lazy">
      <img alt="Lenovo" loading="lazy">
      <img alt="Asus" loading="lazy">
    </div>
  </div>
</section>

<article class="section-4">
  <h2>About FON2FIX</h2>
  <p>
    FON2FIX Service Center was found since year 2018 by Endie Leng.
    The first shop lot was located at Prima Seri Gombak.
    In year 2021 we shifted to new location at Taman Sri Gombak.
    Our main core business includes smartphone repair services and selling smartphone accessories.
  </p>

  <a routerLink="/contact" fragment="location">Check out our location</a>

  <h3>Our Vision</h3>
  <p>
    Delivering professional smartphone repair
    solutions & services to every customer.
  </p>

  <h3>Our Mission</h3>
  <p>
    Providing clear information and repairing procedure to customers.
    We help customers to understand clearly their smartphone/product conditions before servicing.
    We are dedicated to satisfy customers' needs with our quality services.
  </p>
</article>
