<footer>
  <div class="footer-container">
    <div class="rights-container">
      <a routerLink="/home">&copy; Fon2fix</a>
      <a routerLink="/privacy-policy">Privacy Policy</a>
      <a routerLink="/terms-and-conditions">Terms and Conditions</a>
    </div>
   
    <div class="media-links-container">
      <a href="https://www.facebook.com/FON2FIX" target="_blank">
        <svg>
          <use href="#facebook"></use>
        </svg>
      </a>
      <a href="/" target="_blank">
        <svg>
          <use href="#youtube"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>