@import '../../../assets/stylings/variables';
@import '../../../assets/stylings/mixins';

footer {
  background-color: $lightTertiaryColor;
  height: $headerHeight;

  @include headerFooterFont;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @include setMaxWidthAndCenterContent;
}

.media-links-container {
  display: flex;

  a {
    height: 35px;
    
    & + a {
      margin-left: 20px;
    }

    svg {
      border-radius: 5px;
    }
  }
}