@import '../../../assets/stylings/variables';
@import '../../../assets/stylings/mixins';

footer {
  background-color: $lightTertiaryColor;
  // height: $headerHeight;
  padding: 20px 0;

  @include headerFooterFont;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @include setMaxWidthAndCenterContent();

  @media(max-width: 599px) {
    flex-direction: column;

    .rights-container {
      order: 2;
      font-size: 14px;
      margin-top: 30px;
    }
  }
}

.rights-container {
  display: flex;
  text-align: center;
  font-size: 16px;

  a {
    & + a {
      margin-left: 10px;
    }
  }
}

.media-links-container {
  display: flex;

  a {
    height: 35px;
    
    & + a {
      margin-left: 20px;
    }

    svg {
      border-radius: 5px;
    }
  }
}